* {
    margin: 0;
    padding: 0;
  }
  img {
    width: 100%;
  }
  .container {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
  }
  body {
    font-family: "Courier New", Courier, monospace;
  }
  
  
  /* Header style start here */
  
  .header {
    background-color: #085070;
    padding: 30px;
    height: 5vh;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }
  
  /* Header style start here */
  
  /* container starts here */
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: space-between; */
  }
  
  .white-puppy img,.black-puppy img {
     
     padding: 4% 0%;
  }
  .puppy-missing {

    display: none;
  
  }
  
  .container-2 {
    margin: 0% 10%;
  
  }
 
  
  .wihte-puppy, .balck-puppy{
    padding: 4% 0%;
  }
  
  
  .more-puppies {
    text-align: center;
    padding: 15px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(11, 11, 12);
  }
  
  

  
  /* media query starts here */
  
  @media (min-width: 768px) {
    .container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
    }
  
    .puppy-container {
      width: 100%;
    }
    .container  {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
     margin: 3% auto;
      
    }
    .puppy-missing {
      display: flex;
      width: 33%;
      background-color: rgb(211, 35, 64);
      font-size: 50px;
      text-align: center;
      align-items: center;
    }
    .white-puppy img,.black-puppy img{
        height: 100%;
        padding: 0;
   
    }
   
    .container-2 {
      display: flex;
      margin-bottom: 2%;
    }
 
    .wihte-puppy  {
      width: 45%;
      margin: 0% 0% 0% 5%;
    
    }
    .balck-puppy{
      width: 45%;
      margin: 0% 5% 0% 0%;
    }
  }
  
  @media (min-width: 1410px) {
    .total{
        display: flex;
        margin: 0 auto;
    }
    .container{
        margin: 2% 0% 2% 2%;
        justify-content: center;
    }
    .container-2{
        width: 50%;
        margin: 2%;
    }
    .balck-puppy, .wihte-puppy{
        padding: 0;
        margin: 0 auto;
      }

    .more-puppies{
        display: none;
    }
    .puppy-missing{
        margin: 0% 4%;
    }
  }
  
  /* media query ends here */